.navbar-collapse {
  border-bottom: 1px solid #dadddf;
}

.nav-item {
  margin-right: 1rem;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Segoe UI';
}

.active-line {
  margin: 0 auto;
  background-color: #881c1c;
  height: 2px;
  width: 40%;
  left: 30%;
  bottom: 0;
  animation-name: stretch;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes stretch {
  100% {
    transform: scale(2.2, 1);
  }
}